/*
 * Разметка главного блока:
 */

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.main-wrap {
  position: relative;
  z-index: 1;
}

.logo {
  background: url("../img/melody-logo.png") center no-repeat;
  height: 83px;
  left: 50%;
  margin-top: 170px;
  overflow: hidden;
  position: absolute;
  text-indent: -100em;
  top: 0;
  transform: translateX(-50%);
  width: 186px;
}

.title {
  color: $color-text-dark;
  display: block;
  font: italic 300 2em $font;
  margin: 0 0 0.2em;
}

.text {
  color: $color-text-dark;
  display: block;
  font: 300 0.9em $font;
  margin: 0 0 1em;
}

.app {
  position: relative;
}

/*.arrow {
  position: absolute;
  width: 0;
  height: 0;

  top: calc(50% - 20px);

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  cursor: pointer;
  z-index: 1;

  transition: opacity 0.2s;

  &--left {
    left: 5px;
    border-right: 10px solid #ffffff;
  }

  &--right {
    right: 5px;
    border-left: 10px solid #ffffff;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}*/

@import "--level/main--level";
@import "--result/main--result";
@import "--welcome/main--welcome";
@import "timer";
@import "mistake";
